:root {
    --black: #000000;
    --paddingoneverything : .7rem;
  }
*{
    text-decoration: none;
    margin: 0;
    color: var(--black);
}
header{
    display: flex;
    justify-content: space-between;
}

h1{
    font-size: clamp(1rem, 0.4000rem + 5vw, 3rem);
    text-align:start;
    padding: 1rem;
}
h2{
    font-size: clamp(1rem, 0.4000rem + 4.5vw, 3rem);
    padding: var(--paddingoneverything);
}
h3{
    font-size: clamp(1rem, 0.4000rem + 4vw, 3rem);
    padding: var(--paddingoneverything);

}
/*h5 and h6 are only for login page*/
.textInput{ 
box-sizing: border-box;
width: 204.34px;
height: 42.72px;
background: #D9D9D9;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 12px;
transform: matrix(1, 0, 0, 1, 0, 0);
margin: var(--paddingoneverything);
display: flex;
margin-left: auto;
margin-right: auto;
}
.hamburgerIcon{
padding-top: var(--paddingoneverything);
padding-right: var(--paddingoneverything);
margin-left: 25px;
}
/* slide menu start*/
body, html{
    height:100%;
}
section li{
    margin:0 0 10px;
}

.wrapper{
    overflow:hidden;
}
section{
    padding:0px 90px 0px 0px;
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;

}
nav{
    position:fixed;
    top:0;
    left:0;
    width:200px;
    height:100%;
    margin:0 0 0 calc(100vw + 200px); /*changed this also*/
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;
}
nav ul{
    width:200px;
    height:100%;
    padding:0;
    margin-left:calc(100vw - 200px); /*do not touch calc(100vw - 250px);*/
    list-style:none;
    background:rgb(161, 161, 161);
}
nav li{
    margin:0;
}
nav a{
    font-size:1em;
    font-family:'helvetica neue', helvetica, arial, sans-serif;
    text-decoration:none;
    display:block;
    padding:12px 15px;
    font-weight:300;
    letter-spacing:2px;
}
label{
    position:fixed;
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;
    z-index:500;
}
input[type="checkbox"]{
    display:none;
}
input[type="checkbox"]:checked ~ nav{
    margin:0;
}
/*
input[type="checkbox"]:checked ~ label{
    right:4px;
}
*/
input[type="checkbox"]:checked ~ section{
    -webkit-transform:translate3d(260px, 0, 0);
    -moz-transform:translate3d(260px, 0, 0);
    -o-transform:translate3d(260px, 0, 0);
    transform:translate3d(260px, 0, 0);
}


/*slide menu end*/
/* General end*/
/* Login start*/
h6{
    font-size: clamp(1rem, 0.4000rem + 6vw, 3rem);
    padding: 1rem;
    display: flex;
    justify-content: center;
}
h5{
    font-size: clamp(1rem, 0.4000rem + 4vw, 3rem);
    margin-left: 30%;
}
.mobileContentIndex{
    padding: 0;
}
/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .remembernLogin{
    padding: var(--paddingoneverything);
    display:flex;
    justify-content: space-evenly;
  }
  .registrationGenderFlex{
    padding: var(--paddingoneverything);
    display:flex;
    justify-content: space-evenly;
  }
/* Login end*/
/* Registration start*/
/* Registration end*/
/* Homepage start*/
/* Homepage end*/
/* Exercises start*/
/* Exercises end*/
/* Profile start*/
/* Profile end*/
/* Users of app start*/
/* Users of app end*/
/* Visit history start*/
/* Visit history end*/
/*  hiding Desktop elements for  phone version*/
@media screen and (min-width: 641px) {
    .mobileContent, .mobileContentIndex{
      display: none;
    }
}
@media screen and (min-width: 500px) {
    h5{
      margin-left: 34%;
    }
}
@media screen and (max-width: 640px) {
    .desktopContent{
      display: none;
    }
}
/*Fixes*/
@media screen and (max-width: 476px) {
        nav ul{
            width:140px;
            margin-left:calc(100vw - 140px); 
        }
        nav{
            width:140px;
        }
        .hamburgerIcon{
            width: 38px;
            margin-left: 34px;
            padding-right: .5rem;
            padding-top: .5rem;
        }
}